[Desktop Entry]
Comment[en_US]=a windows VM
Comment=a windows VM
Exec=/home/szyme/VM/all.sh
GenericName[en_US]=Windows VM
GenericName=Windows VM
Icon=im-msn
MimeType=
Name[en_US]=Windows VM
Name=Windows VM
Path=/home/szyme/VM
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
